# Porta do servidor
PORT=3000

# Configurações do PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=sua_senha
DB_NAME=gamer_alpha

# JWT Secret
JWT_SECRET=seu_secret_jwt_aqui_mude_isso_em_producao

# Node Environment
NODE_ENV=development
